<!DOCTYPE html>
<html lang="ru">
<head>

</head>
<body>
    <div class="container">
        <div class="auth-container">
            <form action="/calendar" method="GET" class="auth-form">
                <div class="form-group">
                    <label for="userid">Insert User ID:</label>
                    <input type="text" id="userid" name="userid" required class="form-input">
                </div>
                <button type="submit" class="btn-primary">Calendar</button>
            </form>
            
            {{if .Error}}
            <div class="error-message">
                {{.Error}}
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>